backupr-cli/.classpath
backupr-cli/.project
backupr-cli/.settings/org.eclipse.core.resources.prefs
backupr-cli/.settings/org.eclipse.jdt.apt.core.prefs
backupr-cli/.settings/org.eclipse.jdt.core.prefs
backupr-cli/.settings/org.eclipse.m2e.core.prefs
